# **Statistics in Python**
  - *Edited on April 18*
  - *Author Sammed Doshi*

# Statistical measures

In [ ]:
#Imported Packages
import math 
import statistics 
import numpy as np 
import scipy.stats 
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
#Initialation of Data and Display
 
x = [91.0, 43.70, 83.80, 22.7, 65.13] 
x_with_nan = [14.30, 2.0, 46.5, math.nan, 99.9, 29.0]


print(f" x = {x} , x_with_nan = {x_with_nan}, type(x) = {type(x)}")

 x = [91.0, 43.7, 83.8, 22.7, 65.13] , x_with_nan = [14.3, 2.0, 46.5, nan, 99.9, 29.0], type(x) = <class 'list'>

In [ ]:
y = np.array(x) 
y_with_nan = np.array(x_with_nan)

print(f" Type of y = {type(y)}")

 Type of y = <class 'numpy.ndarray'>

In [ ]:
z = pd.Series(x) 
z_with_nan = pd.Series(x_with_nan) 

print(f" Type of z = {type(z)}")

 Type of z = <class 'pandas.core.series.Series'>

> # MEAN

In [ ]:
# Mathematical Formula 
mean_x = sum(x)/len(x) 
print(f"Mean Using Mathematical Formula x = {mean_x}") 

# Arithmetic Mean / Average of data. 
mean_x = statistics.mean(x) 
print(f"Arithmetic Mean  x = {mean_x}")

Mean Using Mathematical Formula x = 61.266
Arithmetic Mean  x = 61.266

In [ ]:
# from statistics import fmean 

# # Floating-point mean 
# fm = statistics.fmean(x_with_nan)   
# print("Floating Point Mean is :", fm)

In [ ]:
# Using numpy.mean and Mean Function

mean_y = np.mean(y) 
print(f"y = {mean_y}") 

mean_y = y.mean() 
print(f"y = {mean_y}") 

mean_z = z.mean() 
print(f"z = {mean_z}") 

mean_z = z_with_nan.mean() 
print(f"z with NaN = {mean_z}")

y = 61.266
y = 61.266
z = 61.266
z with NaN = 38.339999999999996

In [ ]:
from importlib import reload
reload(statistics)

# Harmonic Mean
hmean = len(x) / sum(1 / item for item in x)  
print(f"Harmonic Mean = {hmean}") 

# Geometric Mean
# gmean = statistics.geometric_mean(x)
# print(f"Geometric Mean = {gmean}") 

# Geometric Mean with NaN
# gmean = statistics.geometric_mean(x_with_nan) 
# print(f"Geometric Mean with NaN = {gmean}")

Harmonic Mean = 47.52298266435751

>  # MEDIAN

In [ ]:
# Statistics Median
median_x = statistics.median(x)  
print(f"Statistics Median x = {median_x}") 

median_x = statistics.median(x[:-1]) 
print(f"Statistics Median x = {median_x}")

Statistics Median x = 65.13
Statistics Median x = 63.75

In [ ]:
print(f"Statistics Median x_with_nan = {statistics.median(x_with_nan)}") 
print(f"Statistics Median x = {statistics.median_low(x_with_nan)}") 
print(f"Statistics Median x = {statistics.median_high(x_with_nan)}")

Statistics Median x_with_nan = 37.75
Statistics Median x = 29.0
Statistics Median x = 46.5

In [ ]:
# Numpy Median
median_y = np.median(y) 
print(f"Numpy Median y = {median_y}") 

median_ = np.median(y[:-1]) 
print(f"Numpy Median y = {median_y}")

Numpy Median y = 65.13
Numpy Median y = 65.13

>  # MODE

In [ ]:
# Statistics Mode

u = [24, 18, 20, 27, 20] 
mode_u = statistics.mode(u) 
print(f"Statistics Mode u = {mode_u}")

Statistics Mode u = 20

In [ ]:
# Scipy.stats.mode(): 
v = [21, 47, 24, 83, 82, 15, 12] 
u, v = np.array(u), np.array(v) 

mode_u = scipy.stats.mode(u) 
print(f"Scipy Statistics Mode u = {mode_u}")

mode_v = scipy.stats.mode(v) 
print(f"Scipy Statistics Mode v = {mode_v}")

Scipy Statistics Mode u = ModeResult(mode=array([20]), count=array([2]))
Scipy Statistics Mode v = ModeResult(mode=array([12]), count=array([1]))

# Measures of Variability

> # Variance

In [ ]:
# Statistics Variance 

var_x = statistics.variance(x) 
print(f"Statistics Variance x = {var_x}") 
print(f"Statistics Variance x_with_nan = {statistics.variance(x_with_nan)}") 


# Numpy Variance and Var() function

var_y = np.var(y, ddof=1) 
print(f"Numpy Variance y = {var_y}") 
print(f"Variance y with var()= { y.var(ddof=1)}")

Statistics Variance x = 800.68078
Statistics Variance x_with_nan = nan
Numpy Variance y = 800.68078
Variance y with var()= 800.68078

># Standard Deviation

In [ ]:
# With Formula

std_x = var_x ** 0.5 
print(f"Standard Deviation X with Formula = {std_x}") 

# Statistics Standard Deviation 
print(f"Statistics Standard Deviation X = {statistics.stdev(x) }") 

# Numpy Standard Deviation 
print(f"Numpy Standard Deviation Y = {np.std(y, ddof=1)}")

Standard Deviation X with Formula = 28.296303292126343
Statistics Standard Deviation X = 28.296303292126343
Numpy Standard Deviation Y = 28.296303292126343

> # Covariance

In [ ]:
# Covariance

x = list(range(-10, 11)) 
y = [0, 2, 2, 2, 2, 3, 3, 6, 7, 4, 7, 6, 6, 9, 4, 5, 5, 10, 11, 12, 14] 
x_array, y_array = np.array(x), np.array(y) 
x_ser, y_ser = pd.Series(x_array), pd.Series(y_array)

In [ ]:
# Covariance Matrix 
cov_matrix = np.cov(x_array, y_array) 
print(cov_matrix)

[[38.5        19.95      ]
 [19.95       13.91428571]]

In [ ]:
cov_xy = x_ser.cov(y_ser) 
print(cov_xy) 
cov_xy = y_ser.cov(x_ser) 
print(cov_xy)

19.95
19.95

> #  Correlation

In [ ]:
# Correlation
r, p = scipy.stats.pearsonr(x_array, y_array) 
print(r)
print(p)

0.861950005631606
5.122760847201171e-07

In [ ]:
 # Correlation Coefficient Matrix:
corr_matrix = np.corrcoef(x_array, y_array)
print(corr_matrix)

[[1.         0.86195001]
 [0.86195001 1.        ]]

In [ ]:
 #  Scipy.stats.linregress() Correlation Coefficient
scipy.stats.linregress(x_array, y_array)

LinregressResult(slope=0.5181818181818181, intercept=5.714285714285714, rvalue=0.861950005631606, pvalue=5.122760847201164e-07, stderr=0.06992387660074979)

> # Standard error

In [ ]:
from scipy.stats import sem

# initialization Data 
data = [17, 19, 24, 24, 24, 25, 26, 27, 30, 35, 41, 47, 82, 84, 88, 92, 97, 99, 99]

# Standard Error Mean 
sem(data)

7.428928672762466